.storyWrapper{
    padding: 10px;
}

.mainImage{
    width: 120px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
    outline-color: aqua;
}

.dpImage{
    border: 3px solid blue;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    left: 10px;
    top: -195px;
}