.sidebar{
    flex: 3;
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
}

.sidebarWrapper{
    padding: 20px;
}

.sidebarList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}